

<div ng-controller="geolocationCtrl">
    <ons-page>
	    <ons-toolbar>
	 	     	<div class="left">
	            <ons-back-button>Back</ons-back-button>
	        </div>
	        <div class="center">Geolocation</div>
          <div class="right">
              <ons-toolbar-button>
                <span class="toolbar-button  navigation-bar__line-height" ng-click="clear()">
                  <ons-icon icon="fa-times" style="vertical-align: -4px; font-size: 28px;" class="ng-scope ons-icon ons-icon--ion ion-times fa-lg"></ons-icon>
                </span>
                <span class="toolbar-button  navigation-bar__line-height" ng-click="refresh()">
                  <ons-icon icon="fa-refresh" style="vertical-align: -4px; font-size: 28px;" class="ng-scope ons-icon ons-icon--ion ion-refresh fa-lg"></ons-icon>
                </span>
              </ons-toolbar-button>
          </div>
	    </ons-toolbar>
      <ons-list>
        <ons-list-item ng-repeat="coord in coords track by $index">
          [{{$index}}] {{coord.time}} <br>
          {{coord.lat}} / {{coord.lng}}
        </ons-list-item>
      </ons-list>      
    </ons-page>
</div>

